<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>history</title>
    <link rel="stylesheet" href="style.css">
</head>
</head>
<body>
    <article>
        <div class="side">
            <h2>勤怠管理システム</h2>
            <!-- <h3>管理者のみ</h3>
            <ul style="text-align: left;">
                <ul><a href="user_list.html">ユーザ一覧</a></ul>
            </ul> -->
            <ul style="text-align: left;">
                <ul>山田太郎さん</ul>
                <ul><a href="edit.html">&#x271A;プロフィール編集</a></ul>
                <ul><a href="attendance.html">&#x271A;勤怠入力</a></ul>
                <ul><a href="attendance_list.html">&#x271A;勤怠状況一覧</a></ul>
                <ul><a href="attendance_history.html">&#x271A;勤怠履歴一覧</a></ul>
                <ul><a href="login.html">ログアウト</a></ul>
            </ul>
        </div> 
        <div class="content">
            <h2>勤怠履歴一覧</h2>
            <p>2023/8/15-2023/9/15</p>
            <table>
                <tr>
                    <th>日付</th>
                    <th>開始</th>
                    <th>終了</th>
                    <th>休憩</th>
                    <th>実働時間</th>
                </tr>
                <tr>
                    <td>2023/08/25</td>
                    <td>09:30</td>
                    <td>18:30</td>
                    <td>01:00</td>
                    <td>08:00</td>
                </tr>
                <tr>
                    <td>2023/08/29</td>
                    <td>09:30</td>
                    <td>18:30</td>
                    <td>01:00</td>
                    <td>08:00</td>
                </tr>
            </table>
        </div>
    </article>
</body>
</html>